In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Punta Arenas,-53.1500,-70.9167,59.02,41,75,36.82,CL,2021-12-03 17:03:57
1,1,Fortuna,40.5982,-124.1573,45.52,100,75,8.05,US,2021-12-03 17:03:58
2,2,Litovko,49.2361,135.1742,-15.25,100,49,1.79,RU,2021-12-03 17:03:58
3,3,Pisco,-13.7000,-76.2167,71.65,73,0,6.91,PE,2021-12-03 17:03:58
4,4,Loudi,27.7344,111.9944,50.47,45,32,1.74,CN,2021-12-03 17:03:59

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
temperatures = city_data_df["Humidity"]
max_temp = temperatures.max()

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure()

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heatmap_layer = gmaps.heatmap_layer(locations, weights=temperatures)

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
#Adjust Heatmap Zoom, Intensity, and Point Radius

In [11]:
# 1. Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]

# 2. Assign the weights variable to some values.
temperatures = city_data_df["Humidity"]
max_temp = temperatures.max()

# 3. Assign the figure variable to the gmaps.figure() attribute.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

# 4. Assign the heatmap_layer variable to the heatmap_layer attribute and add in the locations.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in temperatures])

# 5. Add the heatmap layer.
fig.add_layer(heatmap_layer)
# 6. Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Create a Percent Cloudiness Heatmap
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"] 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [15]:
# Create a Wind Speed Heatmap
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
# Maximum Temperature Heatmap

In [17]:
print(city_data_df)

     City_ID          City      Lat       Lng  Max Temp  Humidity  Cloudiness  \
0          0  Punta Arenas -53.1500  -70.9167     59.02        41          75
1          1       Fortuna  40.5982 -124.1573     45.52       100          75
2          2       Litovko  49.2361  135.1742    -15.25       100          49
3          3         Pisco -13.7000  -76.2167     71.65        73           0
4          4         Loudi  27.7344  111.9944     50.47        45          32
..       ...           ...      ...       ...       ...       ...         ...
554      554     Ilulissat  69.2167  -51.1000     19.42        63          20
555      555        Qujing  25.4833  103.7833     45.97        88         100
556      556        Zamora  -4.0692  -78.9567     85.24        64          74
557      557   Znamenskoye  57.1281   73.8282     24.94        88         100
558      558         Coari  -4.0850  -63.1414     75.60        92         100

     Wind Speed Country                 Date
0         36.82      CL  2021-12-03 17:03:57
1          8.05      US  2021-12-03 17:03:58
2          1.79      RU  2021-12-03 17:03:58
3          6.91      PE  2021-12-03 17:03:58
4          1.74      CN  2021-12-03 17:03:59
..          ...     ...                  ...
554       21.85      GL  2021-12-03 17:18:39
555        2.82      CN  2021-12-03 17:18:39
556        4.32      EC  2021-12-03 17:18:40
557       12.06      RU  2021-12-03 17:18:40
558        1.88      BR  2021-12-03 17:18:40

[559 rows x 10 columns]

In [18]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# Get Vacation Criteria

In [20]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [21]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
3,3,Pisco,-13.7000,-76.2167,71.65,73,0,6.91,PE,2021-12-03 17:03:58
6,6,Carnarvon,-24.8667,113.6333,71.67,83,0,19.57,AU,2021-12-03 17:03:59
8,8,Castro,-24.7911,-50.0119,75.20,56,79,4.21,BR,2021-12-03 17:01:10
12,12,Puerto Ayora,-0.7393,-90.3518,76.96,78,82,10.65,EC,2021-12-03 17:04:01
14,14,Rikitea,-23.1203,-134.9692,76.15,76,6,15.61,PF,2021-12-03 17:04:02
17,17,Thohoyandou,-22.9456,30.4850,85.87,31,5,4.72,ZA,2021-12-03 17:04:02
18,18,Sao Borja,-28.6606,-56.0044,88.95,28,3,7.02,BR,2021-12-03 17:04:03
21,21,Takoradi,4.8845,-1.7554,83.08,72,75,9.91,GH,2021-12-03 17:04:04
24,24,Arraial Do Cabo,-22.9661,-42.0278,78.66,65,20,16.11,BR,2021-12-03 17:04:04
30,30,Butaritari,3.0707,172.7902,82.15,69,51,15.05,KI,2021-12-03 17:04:06

In [22]:
# How would you determine if there are any null values for the rows in the preferred_cities_df DataFrame? 
preferred_cities_df.notnull().sum()

City_ID       201
City          201
Lat           201
Lng           201
Max Temp      201
Humidity      201
Cloudiness    201
Wind Speed    201
Country       201
Date          201
dtype: int64

In [23]:
preferred_cities_df.count()

City_ID       201
City          201
Lat           201
Lng           201
Max Temp      201
Humidity      201
Cloudiness    201
Wind Speed    201
Country       201
Date          201
dtype: int64

In [24]:
preferred_cities_df.isnull().sum()

City_ID       0
City          0
Lat           0
Lng           0
Max Temp      0
Humidity      0
Cloudiness    0
Wind Speed    0
Country       0
Date          0
dtype: int64

In [25]:
preferred_cities_df.dropna()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
3,3,Pisco,-13.7000,-76.2167,71.65,73,0,6.91,PE,2021-12-03 17:03:58
6,6,Carnarvon,-24.8667,113.6333,71.67,83,0,19.57,AU,2021-12-03 17:03:59
8,8,Castro,-24.7911,-50.0119,75.20,56,79,4.21,BR,2021-12-03 17:01:10
12,12,Puerto Ayora,-0.7393,-90.3518,76.96,78,82,10.65,EC,2021-12-03 17:04:01
14,14,Rikitea,-23.1203,-134.9692,76.15,76,6,15.61,PF,2021-12-03 17:04:02
...,...,...,...,...,...,...,...,...,...,...
544,544,Acapulco,16.8634,-99.8901,84.02,58,75,0.00,MX,2021-12-03 17:17:36
545,545,Adre,13.4667,22.2000,79.54,21,0,6.96,TD,2021-12-03 17:17:37
549,549,San Andres,12.5847,-81.7006,84.22,79,75,17.27,CO,2021-12-03 17:18:38
556,556,Zamora,-4.0692,-78.9567,85.24,64,74,4.32,EC,2021-12-03 17:18:40
558,558,Coari,-4.0850,-63.1414,75.60,92,100,1.88,BR,2021-12-03 17:18:40

In [26]:
# Map Vacation Criteria

In [27]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
3             Pisco      PE     71.65 -13.7000  -76.2167
6         Carnarvon      AU     71.67 -24.8667  113.6333
8            Castro      BR     75.20 -24.7911  -50.0119
12     Puerto Ayora      EC     76.96  -0.7393  -90.3518
14          Rikitea      PF     76.15 -23.1203 -134.9692
17      Thohoyandou      ZA     85.87 -22.9456   30.4850
18        Sao Borja      BR     88.95 -28.6606  -56.0044
21         Takoradi      GH     83.08   4.8845   -1.7554
24  Arraial Do Cabo      BR     78.66 -22.9661  -42.0278
30       Butaritari      KI     82.15   3.0707  172.7902

In [28]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params = {
        "location": f"{lat},{lng}",
        "radius": 5000,
        "types" : "hotel",
        "key": g_key
    }

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    #hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.

In [29]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# text inside multiline string HTML code. 
# HTML code is defined by the opening and closing the angular brackets (e.g., <tag> and <tag/>). 

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [32]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))